.row img{
    width: 100%;
    min-height:30%;
    min-width:80%;
    padding-top: 2%;
}
.row{
    margin-top: 1%;
    padding-left:7%;
}
.btn, .btn1{
    width:110%;
    background-color: #18ED18;
    color:white;
    padding-left: 5%;
    
}
.container{
    display: flex;
    text-align: center;
    color:white;    
    font-weight: 700;
    padding-top: 2%;
}
.row1{
    margin-top: 20%;
    padding-left: 7%;
    margin-bottom: 0;
    padding-bottom: 5%;
    color: white;
}
.row1 .strong{
    font-weight: 700;
    font-size: 400%;
}
.row1 h1{
    font-size: 400%;
}
.box{
    font-size: 200%;
    width:46%;
}

.btn1{
    width:10%;
    border-radius:10px;  
    padding: 0.5% 0 0.5% 0;
    font-weight:700;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.back-img{
    background-image: url("../photos/IMG_9780.jfif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:80% ;
    background-position-y:80% ;
    
}
.box2{
    text-align: center;
}
.percentage{
    font-size: 400%;
    font-weight: 700;
    color: #18ED18;
}
.sub-percentage{
    font-size: 170%;
    font-weight: 700;
    color: black;
}
.Hr{
    border-top: 3px solid black;
    width:5%;
    
}
.container-1 img{
    width:100%;
    margin-bottom: 5%;
}
.sub-box ,.sub-box3{
    font-size: 300%;
    color:black;
}
.container-1{
    max-width:100%;
}
.container-1 p{
    font-size: 200%;
    padding-left:10% ;
    padding-top: 5%;
}
.container2{
    background-color: #18ED18;
    text-align: center;
    margin: 0 0 0 0;
    
 }
 .container2 h2{
     color:white;
     font-size: 300%;
 }
 .strong{
     font-weight: 700;
 }
 .fsw img, .fcs img{
     height:100%;
     width:100%;
 }

 .container-7{
    
    padding-top: 5%;
    font-size: 250%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
   
    
}
.container-7 div, .container-7 h4{
    display: inline;
    text-align: center;
    color: black;
}
.box-14{
    width:20%;  
    font-size: 150%;
}
.container-7 h4{
    font-size: 85%;
    font-weight: 700;
    
}
.roww{
    text-align: center;
    font-size: 150%;
    padding-top: 2%;
}
.box-3 p{
    font-size:150%;
}
.container-1 .box-3{
    padding-top: 1.5%;
    font-size:130%;
}
.quote{
    text-align: center;
    padding-top: 5%;
}
.quote img{
    width:80%;
}
.RP{
    text-align: center;;
}
.RP img{
    width:80%;
}
.b{
    background-color: #E6E6E6;
    text-align: center;
    padding: 0 0 0 0;
}
.b img{
    width: 100%;
}
.title{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 300%;
    font-weight: 700;
}
.c{
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.c img{
    width:90%;
    padding-top: 0;
}
.c .title{
    margin-top: 0;
    padding-top: 2%;
}
.Hr1{
    border-top: 1px solid black;
    width:90%;
}

.container-12 h3{
    font-size: 250%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin:0 0 0 0;
    padding-top:3%;
}
.container-12 {
    background-color: #E6E6E6;
    margin-top: 10%;
    
}
.container-12 p{
    margin: 0 0 0 13%;
    text-align: center;
    font-size: 250%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:80%;
    font-weight:500;
}

 
    .box-18{
        color:white;
        height:100px;
        font-size:150%;
        margin-left: 10%;
        margin-right:10%;
        padding-top: 5%;
        font-weight: 700;

    }
    button{
       
        background-color:black;
        border-radius: 20px;
        font-weight:600;
        color: #eeeeee;
        text-align: center;
        font-size: 200%;
        padding: 1%;
        width: 10%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   
   .e {
       text-align: center;
       
   }
   .e button{
       margin-top: 3%;
       margin-bottom: 3%;
       border-radius:20px;
   }
   .icons{
       font-size: 200%;
      
   }
  .ec{
      background-color: black;
      color:white;
      margin-top: 0;
      
  }
  .PP, .CR, .ic{
      margin-left: auto;
      margin-top:auto ;
      height:10%;
      padding-top: 2%;
      font-size: 150%;
      padding-bottom: 3%;
  }
  .PP{
      text-decoration: underline;
      color: #18ED18;
      margin-bottom: 1%;
  }
  .CR{
    padding-top: 1%;
    margin-bottom: 1%;
  }
  .ec .col-md-11{
    margin: 0 0 0 0;
    padding: 3% 0 0 0;
    text-align: center;
}
  .ic{
      justify-content: right;
  }
.Learn{
    display: flex;
    color: #18ED18;
    text-decoration: underline;
}
.Flex p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 150%;
    padding-left: 10%;
    margin-bottom: 10%;
}
.Flex div{
    padding-top: 1.5%;
    font-size: 100%;
}

.box-2 div{  /*How to - menu icon. How To Create a Menu Icon. (n.d.). Retrieved May 13, 2022, from https://www.w3schools.com/howto/howto_css_menu_icon.asp */
    margin-top: 20%;
    height: 5px;
    background-color: white;
    
    
    
}

@media(min-width:1001px){
    .box-2 div{  /*How to - menu icon. How To Create a Menu Icon. (n.d.). Retrieved May 13, 2022, from https://www.w3schools.com/howto/howto_css_menu_icon.asp */
        display:none;
    }

    
}
@media (max-width:1000px){
    .container{
        display:none;
    }
    .box-2 .col-md-1{
        padding: 0 0 0 0;
    }
}