.col-8{
    width:12.5%;
}
.row img{
    width:30%;
    padding-top: 2%;
}
.row{
    margin-top: 1%;
    padding-left:7%;
}
.btn, .btn1{
    width:100%;
    background-color: #18ED18;
    color:white;
    padding-left: 5%;
}
.container{
    display: flex;
    text-align: center;
    color:white;    
    font-weight: 700;
    padding-top: 2%;
}
.row1{
    margin-top: 20%;
    padding-left: 7%;
    margin-bottom: 0;
    padding-bottom: 5%;
    color: white;
}
.row1 .strong{
    font-weight: 700;
    font-size: 400%;
}
.row1 h1{
    font-size: 400%;
}
.box{
    font-size: 200%;
    width:46%;
}

.btn1{
    width:10%;
    border-radius:10px;  
    padding: 0.5% 0 0.5% 0;
    font-weight:700;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.back-img{
    background-image: url("../photos/IMG_9780.jfif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:80% ;
    background-position-y:80% ;
    
}