.col-8{
    width:12.5%;
}
.row img{
    width: 40%;
    min-height:30%;
    min-width:30%;
    padding-top: 2%;
}
.row{
    margin-top: 1%;
    padding-left:7%;
}
.btn, .btn1{
    width:100%;
    background-color: #18ED18;
    color:white;
    padding-left: 5%;
    font-weight:00;
}
.container{
    display: flex;
    text-align: center;
    color:white;    
    font-weight: 700;
    padding-top: 2%;
}
.row1{
    margin-top: 20%;
    padding-left: 7%;
    margin-bottom: 0;
    padding-bottom: 5%;
    color: white;
}
.row1 .strong{
    font-weight: 700;
    font-size: 400%;
}
.row1 h1{
    font-size: 400%;
}
.box{
    font-size: 200%;
    width:46%;
}

.btn1{
    width:10%;
    border-radius:10px;  
    padding: 0.5% 0 0.5% 0;
    font-weight:700;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.back-img{
    background-image: url("../photos/IMG_9780.jfif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:80% ;
    background-position-y:80% ;
    
}
.box2{
    text-align: center;
}
.percentage{
    font-size: 400%;
    font-weight: 700;
    color: #18ED18;
}
.sub-percentage{
    font-size: 170%;
    font-weight: 700;
    color: black;
}
.Hr{
    border-top: 3px solid black;
    width:5%;
    
}
.container-1 img{
    width:100%;
}
.sub-box ,.sub-box3{
    font-size: 300%;
    color:black;
}
.container-1{
    max-width:100%;
}
.container-1 p{
    font-size: 200%;
    padding-left:10% ;
}
.container2{
    background-color: #18ED18;
    text-align: center;
    margin: 0 0 0 0;
    
 }
 .container2 h2{
     color:white;
     font-size: 300%;
 }
 .strong{
     font-weight: 700;
 }
 .fsw img, .fcs img{
     height:100%;
     width:100%;
 }

 .container-7{
    padding-left: 20%;
    padding-top: 5%;
    font-size: 250%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width:80%;
}
.container-7 div, .container-7 h4{
    display: inline;
    text-align: center;
    color: black;
}
.container-7 h4{
    font-size: 85%;
    font-weight: 700;
    
}
.roww{
    text-align: center;
    font-size: 150%;
    padding-top: 2%;
}
.box-3 p{
    padding-right: 20%;
}
.container-1 .box-3{
    padding-top: 1.5%;
}
.quote{
    text-align: center;
}